body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    /* margin: 1 rem auto; */
    /* border: 1px solid #bbb; */
    /* padding: 1 rem; */
    background-color: #e6f2ff;
}

main {
    display: grid;
    grid-template-columns: 1 fr;
    /* grid-gap: 1rem; */

}

section {

    grid-template-columns: 1 fr;
    /* padding: 1rem; */

    border: 1rem solid cornflowerblue;
    margin: 1rem white;

    background-color: white;
}

h1 {
    padding: 1rem;
    background-color: cornflowerblue;
    border: 1rem solid cornflowerblue;

}

footer {

    padding: 1rem;
    background-color: cornflowerblue;
    /* border: 1rem solid cornflowerblue; */
    margin: 1rem cornflowerblue;
    margin-top: 25px;
}