* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
nav {
    background-color: #bbb;
}


.parent {
    margin: 1rem 2vw;
}

.intro {
    border: 1px solid blue;
    background-color: rgb(5, 84, 3);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro img {
    margin-right: 210px;
}

.intro span {

    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    text-align: center;
    /* padding: 10px; */
    /* display: block; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}



.parent section {
    border: 1px solid #415541;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.parent span {
    background-color: forestgreen;
    color: white;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;

}

h1 {
    font-size: 2rem;
}

nav {
    background-color: seagreen;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: teal;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, .2);
}

nav .active {
    background-color: rgba(0, 0, 0, .2);
}